.foot {
    // Vars
    ul{
        display: inline;
        li{
            display: inline;
            color: red;
        }
    }
    // Support

    // Module
    & {
        //
    }

    // Facets

    // States
}
